.detailBar{
  @include flex-layout(row);
  gap: 2rem;
  transition: 0.5s;
  @include tablet{
    flex-direction: column;
    align-items: start;
    gap: 0;
  }
  &:hover{
    transform: scale(0.9);
  }
}
.detailIcon{
  font-size: 100px;
}
.detailText{
  font-size: $font-medium;
  border-radius: 10px;
  padding: 2rem;
  background-image:
    linear-gradient(45deg, #691092, #4605df);
  flex: 1;
  @include flex-layout(row);
  @include tablet{
    width: 100%;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
  }
  p{
    flex: 1;
  }
  button{
    @include btn-style(#777);
  }
}
.C-Wrap{
  position: relative;
  top: 1vh;
  height: 80px;
  div{
    width: 100%;
    height: 50px;
    position: absolute;
    left: 0;
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
  }
  .C-circle{
    top: 5px;
    z-index: 2;
    background: radial-gradient(
      50% 500% at 50% -420%,
      rgba(64, 97, 231, 0.4) 80%,
      rgba(16,16,16,0.1) 100%
      ),$bg-color;
  }
  .C-line{
    top: 0;
    background: radial-gradient(
      circle,
      rgba(247, 111, 77) 10%,
      rgba(19, 41, 235) 60%,
      rgba(142, 8, 196) 100%);
  }
}