.movieCard{
  width: 100px;
  aspect-ratio: 2/3;
  position: relative;
  &:hover{
    cursor: pointer;
    transition: 0.5s;
    transform: scale(1.05);
  }
  img{
    width: 100%;
    height: 100%;
    padding: 1rem;
    border-radius: 20px;
  }
  p{
    font-size: 80px;
    position: absolute;
    left: -0.5rem;
    bottom: 10px;
    color: $bg-color;
    -webkit-text-stroke: 2px $text-color;
  }
}
.movieList{
  h2{
    font-size: 2rem;
  }
  margin: 3rem 0;
  position: relative;
  .prevBtn, .nextBtn{
    background-color: #333;
    width: 50px;
    height: 200px;
    font-size: 2rem;
    border-radius: 5px;
    text-align: center;
    line-height: 200px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 15;
    cursor: pointer;
    &:hover{
      background-color: #aaa;
    }
  }
  .prevBtn{
    left: -50px;
    @include tablet{left:-10px}
  }
  .nextBtn{
    right: -50px;
    @include tablet{right:-10px}
  }
}
.popup{
  z-index: 10;
  width: 50%;
  height: 50vh;
  background-color: rgba(0,0,0,0.8);
  border-radius: 1rem;
  color: $text-color;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3rem;
  gap: 1rem;
  img{
    width: 90%;
    position: absolute;
    top: 10px;
    left: 5%;
    z-index: -1;
  }
  @include flex-layout(column, flex-end, flex-start);
  h3{
    font-size: 1.5rem;
  }
  button{
    background: none;
    color: $text-color;
    outline: none;
    border: none;
    font-size: 3rem;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
  }
}